
<section style="margin: 40px 60px;">
  <div class="row" id="ShopSectionRow">
      <div class="col-6">
          <div class="row" id="ProductAndTrigger">
              <div class="col-9 rounded-4 d-flex justify-content-center me-3 mb-3" style="max-width: 464px;background: #FED500;"><img class="img-fluid" width="624" height="780" src="assets/img/clipboard-image-1.png" style="width: 312px;height: 390px;"></div>
              <div class="col">
                  <div class="row rounded-4 mb-3" style="max-width: 168px;background: #fed500;height: 133px;">
                      <div class="col d-flex justify-content-center align-items-center"><span>WIP</span></div>
                  </div>
                  <div class="row rounded-4 mb-3" style="background: #fed500;max-width: 168px;height: 133px;">
                      <div class="col d-flex justify-content-center align-items-center"><span>WIP</span></div>
                  </div>
                  <div class="row rounded-4 mb-3" style="background: #fed500;max-width: 168px;height: 133px;">
                      <div class="col d-flex justify-content-center align-items-center"><span>WIP</span></div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center" id="TeaInUseShow">
              <div class="col-auto"><img class="img-fluid rounded-4" width="1296" height="648" src="assets/img/clipboard-image-2.png" style="max-width: 648px;max-height: 324px;"></div>
          </div>
      </div>
      <div class="col" id="Section1SideMenu">
          <div class="row info-tag-row" id="Info">
              <div class="col-auto tag-col" id="StarRate">
                  <div class="row rounded-4 solid-border">
                      <div class="col-auto info-tags"><img class="img-fluid" width="18" height="18" src="assets/img/star.svg"><span>4,5 (404)</span></div>
                  </div>
              </div>
              <div class="col-auto tag-col">
                  <div class="row rounded-4 solid-border">
                      <div class="col-auto info-tags"><img class="img-fluid" width="20" height="20" src="assets/img/teaBagSVG.svg"><span>20 Bustine A Piramide Compostabile</span></div>
                  </div>
              </div>
              <div class="col-auto tag-col">
                  <div class="row rounded-4 solid-border">
                      <div class="col-auto info-tags"><img class="img-fluid" width="18" height="18" src="assets/img/world.svg"><span>Italia</span></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h1 style="font-family: 'CocogooseProLetterpressTrial';text-transform: uppercase;margin-top: 12px;color: #524E6A;">Tisana di&nbsp;fiori di&nbsp;Ibisco e&nbsp;Uva Sangiovese.</h1>
                  <p style="margin-top: 24px;font-size: 18px;line-height: 26px;color: #28293A;align-self: stretch;">Fiori di&nbsp;Ibisco e&nbsp;Uva Sangiovese per una tisana tonificante. Un&nbsp;effetto tonificante che libera la&nbsp;mente.</p>
              </div>
          </div>
          <div class="row" style="margin-top: 12px;">
              <div class="col card">
                  <div class="row">
                      <div class="col">
                          <div class="d-flex align-items-center">
                              <div class="flex-grow-1 border-top"></div>
                              <h5 class="mb-0 mx-3" style="font-size: 22px;">Tee</h5>
                              <div class="flex-grow-1 border-top"></div>
                          </div>
                          <div class="row mt-3">
                              <div class="col">
                                  <div class="d-flex justify-content-center align-items-center menu-item pink-red">
                                      <div><img class="img-fluid" width="1352" height="1692" src="assets/img/clipboard-image-4.png"></div>
                                      <div class="bg-white px-2 py-2">
                                          <p class="fw-normal mb-0">Paragraph</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="d-flex align-items-center">
                              <div class="flex-grow-1 border-top"></div>
                              <h5 class="mb-0 mx-3" style="font-size: 22px;">Tee</h5>
                              <div class="flex-grow-1 border-top"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="d-flex align-items-center">
                              <div class="flex-grow-1 border-top"></div>
                              <h5 class="mb-0 mx-3" style="font-size: 22px;">Tee</h5>
                              <div class="flex-grow-1 border-top"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>